<html>
  <head>
    <title>account</title>
  </head>
  <body>
    <h1>account</h1>
    <div>
      <p>
        My name is <%= user.name %>
      </p>
      <p>
        My email is <%= user.email %>
      </p>
    </div>
    <button id="logoutButton">logout</button>
  </body>
  <script src="./public/logout.js"></script>
</html>