<html>
  <head>
    <title>create user</title>
  </head>
  <body>
    <h1>create user</h1>
    <div>
      <input id="nameInput" placeholder="name">
      <input id="emailInput" placeholder="email">
    </div>
    <button id="createButton">create</button>
    <script src="./public/createUser.js"></script>
  </body>
</html>