<html>
  <head>
    <title>postgres sample</title>
  </head>
  <body>
    <h1>postgres sample</h1>
    <ul>
      <li>
        <a href="./users">user</a>
      </li>
      <li>
        <a href="./createUser">createUser</a>
      </li>
    </ul>
  </body>
</html>