<html>
  <head>
    <title>login</title>
  </head>
  <body>
    <h1>login</h1>
    <div>
      <p>Email</p>
      <input id="emailInput" placeholder="email">
    </div>
    <div>
      <p>Password</p>
      <input id="passwordInput" placeholder="password">
    </div>
    <button id="loginButton">LOGIN</button>
    <script src="./public/login.js"></script>
  </body>
</html>